@media (max-width:420px) {
    .conteiner {
        align-items: center;
        justify-content: end;
    }
    
    .womanMobile {
        display: block;
        position: absolute;
        bottom: 550px;
        height: 23%;
    }

    .box {
        margin-bottom: 50px;
        width: 330px;
        height: 550px;
        border-radius: 25px;
        background-size: 0%, 77%;
        background-position-x: 0px, 50%;
        background-position-y: 0%,-135px;
    }

    .boxSvg {
        display: none;
    }

    .blocoDeTexto {
        margin: auto;
        flex-direction: column;
        width: 290px;
    }

    div.blocoDeTexto h1 {
        text-align: center;
        margin-top: 90px;
        margin-bottom: 10px;
        font-size: 37px;
    }

    p.accordion {
        font-size: 14px;
        margin: 0;
        margin-top: 15px;
    }

    div.panel{
        margin-top: 12px;
        margin-bottom: 12px;
        width: 290px;
    }

    p.accordion::after {
        margin-right: 0px;
    }

    .attribution {
        margin: 0;
        margin-bottom: 15px;
    }
}

@media (max-width:1280px) {
    .boxSvg {top: 44%;left: 10.7%;}}
@media (min-width:1366px){
    .boxSvg {top: 40.5%;left: 13%;}}
@media (min-width:1440px){
    .boxSvg {top: 42.5%;left: 14.5%;}}
@media (min-width:1920px){
    .boxSvg {top: 44.5%;left: 24%;width: 8%;}}